// ko if: needAuth
// ko component: {name: "auth", params: { }}
// /ko
// /ko

// ko ifnot: needAuth
h4=labels.auth.logout.title
form(method='POST', action='/auth/logout')
	button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')=labels.auth.logout.submit
// /ko