h4=auth.login.title
form(action='#')
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input#username.mdl-textfield__input(type='text', name='username')
		label.mdl-textfield__label(for='username')=auth.login.username
	br
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input#password.mdl-textfield__input(type='password', name='password')
		label.mdl-textfield__label(for='password')=auth.login.password
		span.mdl-textfield__error Input is not a number!