.mdl-grid
	.mdl-cell.mdl-cell--12-col
		h4= labels.stats.title
		p= labels.stats.message
		
	.mdl-cell.mdl-cell--12-col
		table.mdl-data-table.mdl-js-data-table.mdl-data-table.mdl-shadow--2dp
			thead
				tr
					//th.mdl-data-table__cell--non-numeric
					th Дата
					th Показания спидометра
					th Пробег
					th Объём
					th Расход
					th Общий объём
					th Расход за всё время
					th Сумма
					th Стоимость
			tbody(data-bind='foreach:refills')
				tr
					//td.mdl-data-table__cell--non-numeric
					td(data-bind='text:date')
					td(data-bind='number:distance')
					td(data-bind='number:mileage')
					td(data-bind='number:volume')
					td(data-bind='number:consumption')
					td(data-bind='number:totalVolume')
					td(data-bind='number:commonConsumption')
					td(data-bind='number:total')
					td(data-bind='number:cost')